<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SuperLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SuperLauncher.Properties.Settings>
            <setting name="width" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>300</value>
            </setting>
        </SuperLauncher.Properties.Settings>
    </userSettings>
</configuration>